

.hero-section {
    position: relative;
    width: 100%;
    height: 90vh; /* بياخد 70% من طول الشاشة */
    margin-top: -85px;
    /* 1. الصورة وتظبيطها */
    background-image: var(--hero-bg-image);;
    background-size: cover;
    background-position: center;
    
    /* 2. الفليكس بوكس عشان نوسطن الكلام */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* 3. الطبقة السودا الشفافة (Overlay) عشان الكلام يبان فوق الصورة */
.hero-section::before {
    content: '';
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: var(--hero-overlay);/* شفافية 60% */
    z-index: 1;
}

/* 4. رفع الكلام فوق الطبقة الشفافة */
.hero-content {
    position: relative;
    z-index: 2; /* عشان يطلع فوق الطبقة السودا */
    color: whitesmoke;
    font-weight: bold;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}





/* =========================================
   1. شبكة عرض الأفلام (Movie Grid)
========================================= */
.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

/* =========================================
   2. كارت الفيلم (Movie Card)
========================================= */
.movie-card {
    background-color: var(--card-bg);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10.5px);
    border-radius: 25px;
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(105, 105, 105, 0.507);
}

.movie-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(140, 140, 141, 0.596);
}

.movie-card img {
    width: 100%;
    height: 380px;
    object-fit: fill; 
    display: block;
}

.movie-card h3 {
    margin: 15px;
    font-size: 1.2rem;
    color: var(--text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-card .details {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #333; 
    color: var(--text-muted);
    font-weight: bold;
}
